<nav class="navbar navbar-dark bg-dark">

    <div class="container-fluid">
    
        <a class="navbar-brand" href="/">{{name}}</a>
        <ul  class="text-white" class="nav">
            <li class="nav-item"> <a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"> <a href="/list" class="nav-link">List</a></li>
            <li class="nav-item"> <a href="/ajaxGet" class="nav-link">Ajax Get</a></li>
            <li class="nav-item"> <a href="/ajaxPost" class="nav-link">Ajax Post</a></li>
        </ul>
    
    </div>

</nav>